html, body{
    height: 100vh;
    overflow: hidden;
} 

.navbar {
    background-color: #042C55;
    height: 12vh;
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: #fff;
    text-shadow: 
    0 0 7px #2ee693,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #2ee693,
    0 0 82px #2ee693,
    0 0 92px #2ee693;
}

.navbar .nav-item {
    font-size:1.5rem;
} 

/* sun icon color */
span[class="material-icons"] {
    color: yellow;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

form[id="search-form"] {
    background-color: #31708E;
}

.log-form {
    background-color: #FBEEC1;
    height: 80vh;
    overflow-y: auto;
}

.maint-form {
    background-color: #EDF5E1;
}


div[class="img-container"] {
    width: 50%;
}

.text-bg {
    background-color: #F7F9FB;
}

h2 {
    color: #F7F9FB;
}

h2[class="dark-title"] {
    color: #042C55;
}

.log-container {
    background-color: #FBEEC1;
    /* height: 100%; */
}

.maint-container {
    background-color: #EDF5E1;
}

.submit {
    color: #F7F9FB;
    background-color: #05386b;
}

.table {
    background-color: #F7F9FB;
}

/* scrolling div */
.scroll {
    height: 65vh;
    width: auto;
    overflow-y: auto;
}

.full-scroll {
    height: 84vh;
    overflow-y: auto;
}

button > p {
    margin: 0;
    text-align: left;
}

.top-space {
    margin-top: 4vh;
}

button > p[class="title"] {
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
}

.info {
    margin: 0;
}

.address {
    margin: 0;
}

.url {
    color: #EDF5E1;
    margin: 15px;
}

body {
    background-image: url(/static/images/background_image.jpg);

    /* Photo by <a href="https://unsplash.com/@aaronburden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Aaron Burden</a> on <a href="https://unsplash.com/s/photos/road?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    https://unsplash.com/photos/jyB40-iOtis
   */
  
    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* have an image fit it's parent container
    maintaining aspect ratio
*/
.contain {
    width: 100%;
    object-fit: contain;
  }

ul {
      margin: 0;
      padding: 0;
  }
  

label {
    font-size: 1.5rem;
}

/* take away most form labels for inputs with default values*/
label[for="title"] {
    display: none;
}

label[for="location"] {
    display: none;
}

label[for="mileage"] {
    display: none;
}

label[for="text"] {
    display: none;
}

label[for="date"] {
    display: none;
}

input[id="photo"] {
    display: inline;
}

label[for="description"] {
    display: none;
}

label[for="category"] {
    color: #EDF5E1;
}

label[for="city"] {
    color: #EDF5E1;
}

textarea {
    width: 500;
    height: 150px;
  }

/* .one-line {
    display: inline-block;
} */

.side-bar {
    background-color: #5085A5;
}

.log-button {
    background-color: #5085A5;
}

.log-button:hover {
    background-color: #31708E;
}

/*
#05386B
#379683
#5CDB95
#8EE4AF
#EDF5E1
*/

/* 
#687864
#31708E
#5085A5
#8FC1E3
#F7F9FB
*/

/* 
#659DBD
#DAAD86
#BC986A
#FBEEC1
*/