
html, body{
    height: 100%
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: #fff;
    text-shadow: 
    0 0 7px #2ee693,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #2ee693,
    0 0 82px #2ee693,
    0 0 92px #2ee693;
}

.navbar .nav-item {
    font-size:1.5rem;
} 

span[class="material-icons"] {
    color: yellow;
}

button > p {
    margin: 0;
    text-align: left;
}

button > p[class="title"] {
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
}

.info {
    margin: 0;
}
.address {
    margin: 0;
}

.url {
    color: #EDF5E1;
    margin: 15px;
}

body {
     background-color: #5CDB95; 

    /* background-image: url("https://images.unsplash.com/photo-1542159919831-40fb0656b45a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); */

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


label {
    font-size: 1.5rem;
}

label[for="title"] {
    display: none;
}

label[for="location"] {
    display: none;
}

label[for="mileage"] {
    display: none;
}

label[for="text"] {
    display: none;
}

label[for="date"] {
    display: none;
}

input[id="photo"] {
    display: inline;
}

/* label[for="photo"] {
    display: none;
} */

label[for="description"] {
    display: none;
}

label[for="category"] {
    color: #EDF5E1;
}
label[for="city"] {
    color: #EDF5E1;
}

textarea {
    width: 500;
    height: 150px;
  }

.one-line {
    display: inline-block;
}

/*
#05386b
#379683
#5CDB95
#8EE4AF
#EDF5E1
*/
