{% extends 'base.html' %}

{% block title %}
Greenflash
{% endblock %}


{% block content %}

<div class="container m-5">

    <div class="row">

        <div class="col-4 ">
            
            <form id="search-form" class="shadow rounded p-3 position-sticky" style="background-color: #379683;">

                <h2 style="color: #EDF5E1;">Looking for something?</h2>

                {{ form.hidden_tag() }}

                <div class="form-group">

                    {% for field in form if field.widget.input_type != "hidden" %}
                    <p>
                        {{ field.label }}
                        {{ field(class_="form-control") }}

                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </p>
                    {% endfor%}
                </div>
                <button type="submit" class="btn btn-lg" style="color: #EDF5E1; background-color: #05386b;">Search</button>
            </form>
        </div>

        <div class="col-8" id="results-col">

            <div id="search-results" class="overflow-auto">

            </div>
        </div>
    </div>
</div>
<ul>


</ul>



{% endblock %}