{% extends 'base.html' %}

{% block title %}
Greenflash
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="jumbotron w-90" id="homepage-greeting">
        <div class="hstack gap-3">
            <h1 class="display-5">Travel. Discover. Document. Share.</h1>
            <div class="ms-auto lead d-none d-lg-inline">Your roadtrip companion.</div>
            <div class="vr d-none d-lg-inline"></div>
            <div class="lead d-none d-lg-inline">Wherever each sunset finds you.</div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <form id="search-form" class="shadow rounded p-3 ml-5">
            <h2 class="light-title">Looking for something?</h2>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% for field in form if field.widget.input_type != "hidden" %}
                <p>
                    {{ field.label }}
                    {{ field() }}
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </p>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-lg submit">Search</button>
        </form>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 h-auto overflow-auto" id="results-col">
        <h2 class="light-title" id="results-header"></h2>
        <div id="search-results" class="overflow-auto p-md-3">
        </div>
    </div>
</div>

{% endblock %}