{% macro page_select_dropdown() %}

<div class="dropdown d-lg-none m-1 p-2">
    <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/logs/new">New Log</a></li>
        <li><a class="dropdown-item" href="/logs/all">All Logs</a></li>
        <li><a class="dropdown-item" href="/maintenance/new">New Maintenance</a></li>
        <li><a class="dropdown-item" href="/maintenance/all">All Maintenance</a></li>
    </ul>
</div>

{% endmacro %}


{% macro entry_list(logs) %}

<div class="d-none d-lg-inline col-lg rounded shadow side-bar top-space" style="background-color: #31708E;">
    <h2>Log Entries</h2>
    <div>
        <form action="/logs/new" method="GET">
            <button class="btn btn-block w-100" style="color: white; background-color: #05386b;">
                <p class="lead">New Entry</p>
            </button>
        </form>
    </div>
    <div>
        <form action="/logs/all" method="GET">
            <button class="btn btn-block w-100" style="color: white; background-color: #379683;">
                <p class="lead">All Entries</p>
            </button>
        </form>
    </div>
    {% for log in logs %}
    <div>
        <form action="/logs/{{log.id}}" method="GET">
            <button class="btn w-100 border border-2 rounded log-button">
                <p class="" style="color: white;">{{ log.title }}</p>
                <p style="color: white;">{{ log.location.location }}</p>
                <p style="color: white;">{{ log.date }}</p>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

{% endmacro %}



{% macro record_list(maintenance) %}

<div class="d-none d-lg-inline col-lg rounded shadow top-space side-bar" style="background-color: #31708E;">
    <h2 style="color: white;">Maintenance Records</h2>
    <div>
        <form action="/maintenance/new" method="GET">
            <button class="btn w-100" style="color: white; background-color: #05386b;">
                <p class="lead">New Record</p>
            </button>
        </form>
    </div>
    <div>
        <form action="/maintenance/all" method="GET">
            <button class="btn w-100" style="color: white; background-color: #379683;">
                <p class="lead">All Records</p>
            </button>
        </form>
    </div>
    {% for log in maintenance %}
    <div>
        <form action="/maintenance/{{log.id}}" method="GET">
            <button class="border border-2 btn w-100 log-button">
                <p class="" style="color: white;">{{log.title}}</p>
                <p style="color: white;">{{log.location.location}}</p>
                <p style="color: white;">{{log.date}}</p>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

{% endmacro %}