{% extends 'base.html' %}

{% block title %}
All Maint
{% endblock %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col bg-secondary">
            <h2 style="color:white;">Records</h2>
            <div>
                <form action="/maintenance/new" method="GET">
                    <button class="btn btn-primary w-100">
                        <p class="text-left">New Record</p>
                    </button>
                </form>
            </div>
            {% for log in maintenance %}
            <div>
                <form action="/maintenance/{{log.id}}" method="GET">
                    <button class="btn btn-secondary w-100">
                        <p class="text-left">{{log.title}}</p>
                        <p class="text-left">{{log.location.location}}</p>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}