{% extends 'base.html' %}

{% block title %}
{{user.username}}
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">

        <h1>Your Profile</h1>

    </div>

    <div class="row">

        <div class="col-4"><ul>
            <li>Username: {{user.username}}</li>
            <li>Email: {{user.email}}</li>
        </ul></div>

        <div class="col-4">
            <h2>Bio</h2>
            <p>{{user.bio}}</p>
        </div>

        <div class="col-4">
            {% if user.image_name %}
            <img src="/static/images/{{user.image_name}}" alt="" style="height: 200px; width: 200px;">
            {% endif %}
        </div>

        <form action="/user/edit" method="GET">
            <button>Edit Profile</button>
        </form>

        <form action="/user/change_password" method="GET">
            <button>Change Password</button>
        </form>

    </div>
</div>

{% endblock %}