{% extends 'base.html' %}

{% block title %}
Edit Maint
{% endblock %}


{% block content %}

<div class="container-fluid mt-4 h-100">

    <div class="row gx-5 h-100">

        {{ entry_list(logs) }}

        <div class="col-8">
            <div class="p-3" id="log-form">
                <form method="POST" id="maintenance-edit-form" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
    
                    <div class="form-group">
    
                        {% for field in form if field.widget.input_type != "hidden" %}
                        <p>
                            {{ field.label }}
                            {{ field(class_="form-control") }}
    
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </p>
                        {% endfor%}
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">Save Record!</button>
                </form>
            </div>
        </div>

        {{ record_list(maintenance) }}
     
    </div>
</div>



{% endblock %}