{% extends 'base.html' %}

{% block title %}
{{maintenance.id}}
{% endblock %}


{% block content %}

<div class="container-fluid mt-4 h-100">
    
    <div class="row gx-5 h-100">

        {{ entry_list(logs) }}

        <div class="col-8">
            <div class="p-3" id="log-div">
                <h2><span class="bg-white rounded p-2">{{record.title}}</span></h2>
                <span class="bg-white rounded p-1">{{record.date}} - {{record.location.location}} - {{record.mileage}}</span>
                <p class="bg-white rounded p-4">
                    {{record.description}}
                </p>

                {% if record.image_name %}

                <img src="/static/images/{{record.image_name}}" alt="" style="height:300px; width: 400px;">

                {% endif %}
                <form>
                    <div class="text-left">
                        <button formaction="/maintenance/{{record.id}}/edit" formmethod="GET"
                            class="btn btn-warning btn-lg m-2">Edit</button>

                        <button formaction="/maintenance/{{record.id}}/delete" formmethod="POST"
                            class="btn btn-danger btn-lg m-2">Delete</button>
                    </div>
                </form>
            </div>
        </div>

        {{ record_list(maintenance) }}

    </div>
</div>

{% endblock %}