{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row m-2 m-md-4 justify-content-center">
    <div class="col-12 col-sm-8 col-md-8 col-lg-5 bg-light p-3 rounded">
      <div class="rounded p-3">
        <h2 class="dark-title">Change Password</h2>
        <form>
          {{ form.hidden_tag() }}
          <div class="form-group mt-4">
            {% for field in form if field.widget.input_type != "hidden" %}
            <p>
              {{ field.label }}
              {{ field(class_="form-control") }}
              {% for error in field.errors %}
              {{ error }}
              {% endfor %}
            </p>
            {% endfor%}
          </div>
          <button formmethod="POST" formaction="/users/change_password" class="btn btn-primary btn-lg btn-block">Save</button>
          <button formmethod="GET" formaction="/users/profile" class="btn btn-warning btn-lg btn-block">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}