{% extends 'base.html' %}

{% block title %}
Your Places
{% endblock %}


{% block content %}

<div class="container-fluid m-5">
  <div class="row justify-content-center">

    <div class="col-8">

      <div class="accordion" id="places-accordion">

        {% for place in places %}

        <div class="accordion-item" style="background-color: #379683;">

          <h2 class="accordion-header" id="{{place.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-{{place.id}}" aria-expanded="true" aria-controls="collapse-{{place.id}}" style="color: white; background-color: #379683;">
              {{place.name}} Category: {{place.category}}
            </button>
          </h2>

          <div id="collapse-{{place.id}}" class="accordion-collapse collapse" aria-labelledby="{{place.id}}"
            data-bs-parent="#places-accordion">

            <div class="accordion-body">

              <div class="container mb-2 p-3 rounded" style="background-color: #EDF5E1;">
                <div class="row">
                  <div class="col-2">
                    <img src="{{place.image_url}}" class="rounded" style="width:125px; height:125px;">
                  </div>
                  <div class="col-4">
                    <p style="color: #379683; font-size: 2rem;">{{place.name}}</p>
                    <p class="info" style="color: #05386B;">Category: {{place.category}}</p>
                    <p class="info" style="color: #05386B;">Rating: {{place.rating}}/5</p>
                    <p class="info" style="color: #05386B;">Price: {{place.price}}</p>
                  </div>
                  <div class="col-4">
                    <p class="info">Phone: {{place.phone}}/5</p>
                    <p class="address" style="color: #05386B;">{{place.address_0}}</p>
                    <p class="address" style="color: #05386B;">{{place.address_1}}</p>
                    <a href="{{place.url}}" class="url" style="color: #05386B;">More Info</a>
                  </div>
                  <div class="col-2 align-self-center">
                    <button class="btn btn-danger remove-button" data-id="{{place.id}}">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}